body {
    color: black;
    font-family: Trebuchet MS, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url(/ProjetPtsCoiffeur/web/assets/images/bg-1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

header h1 {
    font-family: Brush Script MT, Brush Script Std, cursive;
}

header {
    color:Black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#btn {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 180px;
    height: 180px;
    margin: 10px;
    line-height: 1.5em;
    text-decoration: none;
    color: #444444;
    background-color: #f7f7f7;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);

}

p {
    background-color: #aaaaaa;
    width: 180px;
    padding-top: 5px;
    text-align: center;
    position: relative;
    height: 30px;
    left: 0px;
    top: 129px;
}

.boutonAccueil {
    background-image: url(../images/clients-logo.png);
    background-repeat:no-repeat;
    background-position-x: 5px;
    background-position-y: 10px;
    background-size: 95%;
}

.boutonRDV {
    background-image: url(../images/rdv-logo.png);
    background-repeat:no-repeat;
    background-position-x: 22px;
    background-position-y: 10px;
    background-size: 76%;
}
