h2{
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
}

.dateNaissanceContainer{
}

#addContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  width: 50%;
  min-width: 500px;
  -webkit-box-shadow: 32px 59px 62px -11px rgba(0,0,0,0.79);
  -moz-box-shadow: 32px 59px 62px -11px rgba(0,0,0,0.79);
  box-shadow: 32px 59px 62px -11px rgba(0,0,0,0.79);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}



.flash-notice{
  text-align: center;
  color: rgb(78,205,114);
  font-weight: bold;
}

.findClientForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  padding: 0.5em;
  border-top: dashed 2px #000;
  border-bottom: dashed 2px #000;
}

.formPart{
  width: 49%;
}

.findClientForm #form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

div #form_Enregistrer{

}

input[id*='form'], div[id*='form'], label{
  margin: 1em 0.5em 1em 0;
}

#form_civilite, #form_couleur{
  margin-top: -0.2em;
}

input[type=text]{
  border: none;
  border-bottom: 2px solid rgba(0,0,0,.44);
  border-radius: 2px;
}

input[type=text]:focus {
    background-color: lightblue;
    -webkit-box-shadow: 32px 59px 62px -11px rgba(0,0,0,0.79);
    -moz-box-shadow: 32px 59px 62px -11px rgba(0,0,0,0.79);
    box-shadow: 32px 59px 62px -11px rgba(0,0,0,0.79);
}

#addContainer a{
  background-color: rgb(48,175,45);
  padding: 5px 20px;
  border-radius: 2px;
  transition: all 0.1s;
  margin: 0.625em auto;
  width: 100px;
  text-align: center;
}

#addContainer p{
  padding: 10px;
  margin: 0px;
}

#addContainer a:hover{
  background-color: rgb(57,209,53);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.87);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.87);
 box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.87);
}
