html,body{
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url("{{ asset('assets/font/Roboto/Roboto-Medium.ttf') }}") format("ttf");
}

*{
    font-family: "Roboto";
}

h1{
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

a{
    text-decoration: none;
    color: rgb(255,255,255);
    transition: all 0.2s;
}

#main_nav li a{
  padding: 1em 2em;
}

#main_nav li a:hover{
  text-shadow: 2px 2px 2px rgba(255,255,255,.5),
               -2px 2px 2px rgba(255,255,255,.5),
               2px -2px 2px rgba(255,255,255,.5),
               -2px -2px 2px rgba(255,255,255,.5);
}

#main_nav{
    display : flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
    padding: 5px 0 5px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(58, 58, 58);
}

#main_nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    padding: 0px;
    margin: 0px;
    /*background-color: red;*/
}

#main_nav p{
    position: relative;
    left: 0px;
}
