h2{
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}

#HistoRDV{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#asideContainer{
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 1em;
  width: calc(25% - 2 * 1em);
  -webkit-box-shadow: 32px 59px 62px -30px rgba(0,0,0,0.79);
  -moz-box-shadow: 32px 59px 62px -30px rgba(0,0,0,0.79);
  box-shadow: 32px 59px 62px -30px rgba(0,0,0,0.79);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#listeContainer,#listeContainerFull{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.625em;
  align-items:center;
  width: calc(75% - 2 * 0.5em);
  position: relative;
  left: calc(25% + 2 * 0.5em);
  -webkit-box-shadow: -15px 0px 62px -30px rgba(0,0,0,0.79);
  -moz-box-shadow: -15px 0px 62px -30px rgba(0,0,0,0.79);
  box-shadow: -15px 0px 62px -30px rgba(0,0,0,0.79);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#listeContainerFull{
  width: calc(100% - 2 * 0.625em);
  left: 0;
}

#listeRdv{
  width: 90%;
  border-collapse: collapse;
}

#categorieTags th, .rdv td {
    text-align: left;
    padding-left: 0.625em;
    height: 50px;
}

#categorieTags th{
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(48,175,45);
}

.rdv a, #asideContainer a{
  background-color: rgb(48,175,45);
  padding: 5px 15px;
  border-radius: 2px;
  transition: all 0.1s;
}

.rdv a:hover, #asideContainer a:hover{
  background-color: rgb(57,209,53);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.87);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.87);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.87);
}

.rdv:nth-child(even) {
  background-color: #f2f2f2;
}

.rdv:hover {
  background-color: #ccc;
}

.findrdvForm{
  width: auto;
  padding: 0.5em;
  border-top: dashed 2px #000;
  border-bottom: dashed 2px #000;
}

.findrdvForm #form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#form div{
  margin: 1em 0 1em 0;
}

#asideContainer a{
  margin: 0.625em auto;
  width: 100px;
}

#form_client{
  margin-bottom: 1em;
}


h2{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
}

#addContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 25%;
    text-align: center;
    min-width: 500px;
    -webkit-box-shadow: 32px 59px 62px -11px rgba(0,0,0,0.79);
    -moz-box-shadow: 32px 59px 62px -11px rgba(0,0,0,0.79);
    box-shadow: 32px 59px 62px -11px rgba(0,0,0,0.79);
    border-radius: 10px;
}

#addContainer form{
    width: 100%;
    padding-top: 2em;
    border-top: dashed 2px #000;
}

input[id*='form'], div[id*='form'], label{
    margin: 1em 0.5em 1em 0;
}

input[type=text]{
    border: none;
    border-bottom: 2px solid rgba(0,0,0,.44);
    border-radius: 2px;
}

input[type=text]:focus {
    background-color: lightblue;
    -webkit-box-shadow: 32px 59px 62px -11px rgba(0,0,0,0.79);
    -moz-box-shadow: 32px 59px 62px -11px rgba(0,0,0,0.79);
    box-shadow: 32px 59px 62px -11px rgba(0,0,0,0.79);
}

#addContainer a{
    background-color: rgb(48,175,45);
    padding: 5px 20px;
    border-radius: 2px;
    transition: all 0.1s;
    margin: 0.625em auto;
    width: 100px;
    text-align: center;
}

#addContainer a:hover{
    background-color: rgb(57,209,53);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.87);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.87);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.87);
}
