<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Acceuil de la gestion des stocks</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <h1>Bienvenue sur l'acceuil de gestion des stocks</h1>
    <a href={{ path('ajoutproduit') }}>
    <button type="button">Ajouter un produit</button>
    </a>
    <button type="button">Modifier un produit</button>
    <button type="button">Afficher la liste des produits</button>
    <button type="button">Ajouter une livraisons</button>
    <button type="button">Afficher les couleurs</button>
</body>
</html>