{% extends "FrontBundle::layout.html.twig" %}

{% block title %}Accueil de la gestion des stocks{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <h1>Bienvenue sur l'accueil de la gestion des stocks</h1>
      <a href={{ path('ajoutproduit') }}>
        <button type="button">Ajouter un produit</button>
      </a>
      <a href={{ path('listproduitmodif') }}>
        <button type="button">Modifier un produit</button>
      </a>
      <a href={{ path('listeproduit') }}>
        <button type="button">Afficher la liste des produits</button>
      </a>
      <a href={{ path('ajoutlivraison') }}>
        <button type="button">Ajouter une livraison</button>
      </a>
      <button type="button">Afficher les couleurs</button>
{% endblock %}
