<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Ajouter un produit</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <h1>Remplir les champs pour ajouter un produits</h1>
    <form>
        <p>Libelé du produit</p>
        <input type="text" name="nomProduit">
        <p>Type de produit</p>
        <input type="radio" name="Prestation"> dsfds
    </form>
</body>
</html>