<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Ajouter un produit</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <h1>Remplir les champs pour ajouter un produits</h1>
    <form>
        <label>Libelé du produit</label>
        <input type="text" name="nomProduit"><br>
        <label>Type de produit</label>
        <label><input type="radio" name="Type" >Prestation</label>
        <label><input type="radio" name="Type" >Vente</label><br>
        <label>Catégorie</label>
        <select name="boiteCategorie">
            <option>soins cheveux</option>
            <option>coupe homme</option>
            <option>couleur</option>
            <option>permanante</option>
        </select><br>
        <label>Prix unitaire</label>
        <input type="text" name="PrixUnitaire">
        <button type="button">Valider</button>
    </form>
    <h1>La liste des produits deja disponiblent</h1>
    <table>
        <tr>
            <td>

            </td>
        </tr>
    </table>
</body>
</html>