@font-face {
  font-family: 'Ubuntu';
  src: url('../polices/Ubuntu/Ubuntu-Bold.ttf');
}

*{
  font-family: 'Ubuntu','Arial';
}

body{
  margin: 0;
  padding: 0;
}

#side_nav_displayer button{
  position: fixed;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  top: 5px;
  left: 10px;
  z-index: 2;
}

#side_nav_displayer img{
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}

#side_nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  min-height: 770px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
}

.quickMenu{
  text-align: center;
}

.quickMenu h3{
  color: #FFF;
  font-size: 28px;
}

.quickMenu div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  padding: 0;
  max-width: 780px;
  min-width: 550px;
  list-style: none;
} 

.quickMenu li{
  width: 100px;
  height: 100px;
}

.quickButtonTitle{
  display: block;
  margin: auto;
  color: #FFF;
  font-size: 16px;
  text-align: center;
}

.buttonSummary{
  display: block;
  position: relative;
  top: -10px;
  right: 10%;
  margin: auto;
  width: 120%;
  color: rgb(197, 200, 204);
  font-size: 12px;
  text-align: center;
  background-color: rgb(0,0,0);
  opacity: 0;
}

.quickMenu img{
  width: 100%;
  height: 100%;
  opacity: 0.8;
  transition: all 0.2s;
}

.quickMenu img:hover{
  opacity: 1;
  transform: scale(1.2);
  z-index: 1;
  transition: all 0.2s;
}

.lastQuickMenu{
  margin-bottom: 100px;
}

.firstQuickMenu{
  margin-top: 0px;
}
