<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Acceuil</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Bienvenue sur l'acceuil de l'application</h1>
        <a href={{ path('acceuilstock') }}>
            <button type="button">Stock</button>
        </a>
        <button type="button">Client</button>
        <button type="button">Facture</button>
    </body>
</html>
