{% extends "FrontBundle::layout.html.twig" %}

{% block title %}
  <title>Accueil</title>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/accueil.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <header><h1>Bienvenue sur l'accueil de l'application</h1></header>
    <body class="accueil">
      <div class="menu">
        <a href={{ path('accueilclient') }}>
          <button type="button">Clients</button>
        </a>
          <button type="button">Factures</button>
        <a href={{ path('accueilstock') }}>
          <button type="button">Stocks</button>
        </a>
      </div>
    </body>
{% endblock %}
