{% extends "FrontBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href={{ asset('/css/style.css') }}>
{% endblock %}
{% block body %}
  <h1>Bienvenue sur l'accueil de l'application</h1>
  <a href={{ path('accueilstock') }}>
      <button type="button">Stocks</button>
  </a>
  <button type="button">Clients</button>
  <button type="button">Factures</button>
{% endblock %}
