{% extends "FrontBundle::layout.html.twig" %}

{% block title %}<title>Accueil</title>{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset("bundles/front/stylesheets/accueil.css") }}"/>
{% endblock %}
{% block body %}
  <img src="{{ asset("bundles/front/images/logo1.png") }}"/>
  <h1>Bienvenue sur l'accueil de l'application</h1>
  <div id="menu">
    <a href={{ path('accueilclient') }}>
        <button type="button">Clients</button>
    </a>
    <button type="button">Factures</button>
    <a>
        <button type="button">Stocks</button>
    </a>
  </div>
{% endblock %}
