{% extends "FrontBundle::layout.html.twig" %}

{% block title %}
  <title>Accueil</title>
{% endblock %}

{% block stylesheets %}
    <link  rel="stylesheet" href="{{ asset('assets/css/accueil.css') }}"/>
{% endblock %}
{% block body %}
    <header>
        <img src="{{ asset('assets/images/Logo.png') }}" alt="logo"/>
      <h1>Bienvenue sur l'accueil de l'application</h1>
    </header>
      <div id="buttonContainer">
          <a class="boutonClient" id="btn" href={{ path('listeclient') }}>
            <p>CLIENTS</p>
          </a>
          <a class="boutonRDV" id="btn" href={{ path('rendezvous') }}>
              <p>RENDEZ-VOUS</p>
          </a>
      </div>
{% endblock %}
