{% extends "FrontBundle::layout.html.twig" %}

{% block title %}
  <title>Accueil</title>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/accueil.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <header><h1>Bienvenue sur l'accueil de l'application</h1></header>
    <body class="accueil">
      <div class="menu">
          <a class="boutonAccueil" id="btn" href={{ path('listeclient') }}>
            <p>CLIENTS</p>
          </a>
          <a class="boutonRDV" id="btn" href={{ path('accueilclient') }}>
              <p>RENDEZ-VOUS</p>
          </a>
      </div>
    </body>
{% endblock %}
