{% extends "FrontBundle::layout.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href={{ asset('/css/style.css') }}>
{% endblock %}
{% block body %}
  <h1>Bienvenue sur l'accueil de l'application</h1>
  <a href={{ path('acceuilstock') }}>
      <button type="button">Stock</button>
  </a>
  <button type="button"><img  class="img-responsive" src="https://www.iconexperience.com/_img/g_collection_png/standard/512x512/delivery_man.png">Client</button>
  <button type="button">Facture</button>
{% endblock %}
