<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      {% block title %}{% endblock %}

      <link href="{{ asset('assets/css/layout.css') }}" rel="stylesheet" />

      {% block stylesheets %}

      {% endblock %}
  </head>

  <body>
      <nav id="main_nav">
          <ul>
              <li><a href={{ path('accueil') }}>Accueil</a></li>
              <li><a href={{ path('listeclient') }}>Clients</a></li>
              <li><a href={{ path('rendezvous') }}>Rendez-vous</a></li>
          </ul>
      </nav>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </body>

</html>
