{% extends "FrontBundle::layout.html.twig" %}
{% block title %}<title>Ajouter un client</title>{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <h1>Ajouter un nouveau client</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}